    .container {
      position: fixed;
      overflow: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      scroll-behavior: smooth;
      height: 100%;
    }

    .header-row {
      background-color: orange;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky;
      top: 0px;
    }

    .header-row .box {
      padding: 10px;
      color: #087;
    }

    .header-row li {
      display: inline;
      padding: 5px;
      font-size: larger;
      color: dodgerblue;
      background-color: aqua;
      border-radius: 5px;
    }

    .header-row a {
      text-decoration: none;
    }

    .header-row a:hover {
      text-decoration: underline;
    }

    .row {
      padding: 100px;
      height: 75%;

    }
    #projects{
        height: 200px;
        background-color: silver;
        /* display: flex; */
        /* justify-content: center; */
        justify-content: space-around;
        /* align-items: center; */
        /* align-items: center; */
    }
    #projects .box:hover {
      transform: scale(1.2, 1.2);
    }
    #projects .box {
      padding: 20px;
      margin: 10px;
      background: linear-gradient(orange, yellow);
      padding: 10px;
      margin: 10px;
      border: 2px solid red;
      border-radius: 10px;
      box-shadow: 2px 2px 2px 2px blue;
      transition-property: transform;
      transition-duration: 0.2s;
    }

    .footer {
      padding: 20px;
      margin: 0px;
      background-color: black;
      color: white;
      font-size: large;
    }

    button {
      background-color: teal;
      padding: 10px;
      color: white;
      border: none;
      border-radius: 10%;
    }
    